/* Stylesheet for PhpShell. */

body {
  font-family: sans-serif;
  color: black;
  background: white;
}

h1 {
  color: red;
  background: white;
}

img {
  border: none;
}

div {
  border: inset 2px red;
}

textarea { 
  width: 100%;
  border: none;
  padding: 2px 2px 0px;
}

p.prompt {
  font-family: monospace;
  margin: 0px;
  padding: 0px 2px 2px;
}

input.prompt {
  border: none;
  font-family: monospace;
}
